<article class="article-item">
    <div class="image-wrap">
        <img src="{{pelicula.image}}" alt="{{pelicula.title}}" />
    </div>

    <h2>{{pelicula.title}}</h2>
    <span class="year" [ngClass]="{
                    'year-green': pelicula.year > 2021,
                    'year-red': pelicula.year <= 2021
                }">
        {{pelicula.year}}
    </span>
    <a href="#">Leer mas</a>
    <button (click)="seleccionar($event, pelicula)">
        Seleccionar como favorita
    </button>
    <div class="clearfix"></div>
</article>
