<app-slider [nombre]="'Formulario'" [size]="'small'"></app-slider>
<div class="center">
    <section id="content">
        <h1 class="subheader">Formulario</h1>
       
        <!--
        <div id="datos-al-vuelo" *ngIf="user.nombre">
            <h2 class="subheader">Datos al vuelo</h2>
            <ul>
                <li>
                    {{user.nombre}}
                </li>
                <li>
                    {{user.apellidos}}
                </li>
                <li>
                    {{user.bio}}
                </li>
                <li>    
                    {{user.genero}}
                </li>
            </ul>
        </div>-->
        <form class="mid-form" #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="user.nombre" required pattern="[a-zA-Z]+"/>
                <small *ngIf="!nombre.valid && nombre.touched">
                    El nombre no es valido
                </small>
            </div>

            <div class="form-group">
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" required/>
                <small *ngIf="!apellidos.valid && apellidos.touched">
                    Los apellidos no son validos
                </small>
            </div>

            <div class="form-group">
                <label for="bio">Biografia</label>
                <textarea name="bio" #bio="ngModel" [(ngModel)]="user.bio" required></textarea>
                <small *ngIf="!bio.valid && bio.touched">
                    La biografia no es valida
                </small>
            </div>

            <div class="form-group radiobuttons">
                <input type="radio" name="genero" value="hombre" #genero="ngModel" [(ngModel)]="user.genero" required/>Hombre
                <input type="radio" name="genero" value="mujer" #genero="ngModel" [(ngModel)]="user.genero" required/>Mujer<br />
                <small *ngIf="!genero.valid && genero.touched">
                    El Genero no es valido
                </small>
            </div>

            <div class="clearfix"></div>

            <input type="submit" value="Enviar" class="btn btn-success"  [disabled]="userForm.invalid"/>
            {{campo}}
        </form>

        <h2 class="subheader">Eventos</h2>
        <button (click)="hasDadoClick()">Dale click!!</button>
        <input type="text"[(ngModel)]="campo" (keyup.enter)="hasSalido()"/>
    </section>
    <app-sidebar></app-sidebar>
</div>